.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.title {
    color: #F7CE58;
    text-align: center;
}

.table-container {
    margin-bottom: 10px;
    min-height: 555px;
}
.table-wrap {
    margin: 0 auto;
    border-spacing: 5px;
}
thead th {
    border: 1px solid #055D80;
    padding: 8px;
    background: #B8C13A;
    text-align: left;
}
tr {
    height: 50px;
}
tr:nth-child(even) {
    background: #F7CE58;
}
td {
    border: 1px solid #DDD;
    padding: 8px;
    text-align: left;
}

.page-wrap {
    margin-bottom: 15px;
    text-align: center;
}

.button-wrap {
    text-align: center;
    user-select: none;
}
.button {
    display: inline-block;
    border: solid 1px #CCC;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    transition: all .3s ease;
}
.button:hover {
    border: solid 1px #F7CE58;
    background: #F7CE58;
    color: #FFF;
}

.select-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}
.drop-wrap {
    margin-bottom: 5px;
}
.drop-wrap label {
    color: #B8C13A;
    font-size: 20px;
}
.drop-select {
    border: solid 2px #28C5DB;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 20px;
}
.drop-select:focus {
    border-color: #28C5DB;
    outline: none;
}